<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/jpg" href="./images/icon.jpg">
		<!-- Estilos Porpios -->
		<link href="./style.css" rel="stylesheet">
		<!-- <script src="/faker.js"></script> -->
		<title>Baroni - Register</title>
	</head>

	<body>
		<main>

      <div class="formulario">				
				<form class="form" action="/register" enctype="multipart/form-data" method="POST">
					<legend>REGISTRO DE  USUARIO</legend>                    
					<div class="form-group">
						<label for="name">NOMBE</label>
						<input type="text" class="form-control" name="username" id="username" placeholder="Nombre de Usuario" required>
					</div>
					<div class="form-group">
						<label for="name">EDAD</label>
						<input type="text" class="form-control" name="edad" id="edad" placeholder="Edad del Usuario" required>
					</div>
					<div class="form-group">
						<label for="name">TELEFONO</label>
						<input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono - Incluir Codigo de Pais y Ciudad" required>
					</div>
					<div class="form-group">
						<label for="name">DIRECCION</label>
						<input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion del Usuario" required>
					</div>
					<div class="form-group">
						<label for="precio">EMAIL</label>
						<input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
					</div>       
					<div class="form-group">
						<label for="precio">CONTRASEÑA</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
					</div> 
					<!-- foto de perfil -->      
					<div class="form-group">
						<label for="foto">FOTO DE PERFIL</label>
						<input type="file" class="form-control" name="myFile" id="foto" required>
					</div>
					<div class="form-button">
						<input type="submit" value="REGISTRAR" class="p-1">             
					</div> 
				</form>
				<div class="lrBtn">
					<a href="/login">IR A LOGIN →</a>                                   
				</div> 
			</div>

		</main>
	
	</body>

</html>